table {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  text-align: center;
}

tr td:last-child {
  text-align: left !important;
}

th, td {
  padding: 20px;
}

.result-ng {
  border: 3px solid darkred;
  background-color: #e3b7aa;
  font-weight: bold;
}

p {
  margin: 0 !important;
}